name: Test
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: node
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: npm ci
      - name: save cache
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            dist
          key: ${{ runner.os }}-cache-${{ hashFiles('**/package-lock.json') }}

  lint:
    runs-on: ubuntu-latest
    needs: build
    container:
      image: node
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: download cache
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            dist
          key: ${{ runner.os }}-cache-${{ hashFiles('**/package-lock.json') }}
      - run: npm run lint

  test:
    runs-on: ubuntu-latest
    needs: lint
    container:
      image: node
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: download cache
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            dist
          key: ${{ runner.os }}-cache-${{ hashFiles('**/package-lock.json') }}
      - run: ./node_modules/.bin/jest --ci

  complete:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - run: echo "Done!"
